<h1>メッセージ一覧</h1>
<hr>
<% @rooms.each do |r| %>
  <p>相手ユーザ名<a href="/rooms/<%= r.id %>"><%= opponent_user(r) %></a></p>
  <% messages = Message.where(room_id: r.id) %>
   <% p 'start' %>
   <% p messages %>
    <% p 'end' %>
   <% messages.each do |message|%>
     <% if message.read_flag == true %>
       <p>未読なし</p>
　   <% else %>
       <p>未読あり</p>
     <% end %>
<hr>
  <% end %>
<% end %>

<p><a href="/users/<%= current_user.id %>" class="btn btn-primary">マイページに戻る</a></p>
<p><a href="/" class="btn btn-info">トップに戻る</a></p>
