<h1>メッセージ一覧</h1>
<hr>
<% @rooms.each do |r| %>
  <p>相手ユーザ名<a href="/rooms/<%= r.id %>"><%= opponent_user(r) %></a></p>
  <% messages = Message.where.not(user_id: current_user).where(room_id: r.id) %>
  <% if messages.present? %>
   <% read_flag = false # デフォルト未読 一件でも既読があればtrueにする %>
   <% messages.each do |message|%>
     <% if message.read_flag == true %>
       <% read_flag = 1 %>
     <% end %>
  <% end %>
   <% if read_flag == false %>
     <p>未読あり</p>
   <% end %>
 <% else %>
   <p>相手からの返信なし</p>
 <% end %>
 <hr>
<% end %>

<p><a href="/users/<%= current_user.id %>" class="btn btn-primary">マイページに戻る</a></p>
<p><a href="/" class="btn btn-info">トップに戻る</a></p>
